.body-div {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .about-and-description {
    display: flex;
    flex-direction: column;
  }
  .about-tittle {
    margin-top: 20px;
  }
}
.about-and-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.description-div {
  width: 338px;
  margin: 0 60px;
}
.description-div p {
  font-size: 1rem;
}
.about-tittle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.projects {
  position: relative;
  background-color: #FF9D2E;
  height: 100%;
  padding: 40px 15%;
  overflow: hidden;
}
.projects::before, .projects::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 35%;
  background-color: #f5e9c4;
  border-radius: 50%;
  filter: blur(100px);
  opacity: .6;
}
.projects::before {
  left: 0;
  top: 0;
}
.projects::after {
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
}

.project-title {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 60px;
}
.projects-div {  
  display: grid;
  column-gap: 80px;
  row-gap: 40px;
  grid-template-columns: 500px 500px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  align-items: center;
  transition: box-shadow 1s, 
  height 1s ease;
}
.projects-div a {
  z-index: 1;
}

.project-thumbnail {
  height: 280px;
  border-radius: 12px;
  z-index: 1;
  transition: transform 0.3s;
}
@media screen and (max-width: 912px) {
  .projects-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-thumbnail {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
}
.project-thumbnail:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}