* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
}
table {
  border-collapse: collapse;
}
td  {
  border: 1px solid #ccc;
  padding: 8px;
}
table {
  border: 1px solid #ccc;
  padding: 8px;
}
caption {
  border: 1px solid #ccc;
  padding: 8px;
  font-weight: bold;
}
/* HEADER PROPERTIES */
header {
  display: flex;
  position: relative;
  height: 4.5rem;
  padding: 0 10%;
  align-items: center;
  border-bottom: 1px solid rgba(105, 88, 88, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
}
header img {
  height: 40px;
  background-color: white;
  border-radius: 3px;
}
header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
header li {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  transition: color 0.3s, font-weight 0.3s;
}
/* THE HOVER IS NOT WORKIN, CHECK THIS OUT LATER */
/*nav .li:hover {
  color: rgb(90, 66, 196);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}*/
.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .responsive-menu {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: rgb(224, 176, 18);
    top: 72px;
    left: 0;
    right: 0;
    text-align: center;
    transition: .2s;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .responsive-menu-show {
    display: flex;
  }
  
  header ul li {
    width: fit-content;
    margin: 20px;
  }
  header ul li a {
    color: white;
    transition: .2s;
  }
  header ul li a:hover {
    color: rgb(49, 0, 128);
    background-color: white;
    padding: 10px 16px;
    border-radius: 24px;
  }
  /*nav ul li {
    display: block;
  }*/
  /*END*/

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
  }
}
section {
  margin-bottom: 40px;
  padding: 20px;
}
.table-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.games-section, .supersimple-projects-section, .html-css-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-section div, .supersimple-projects-section div, .html-css-section div {
  width: 878px;
}
.games-section h2 {
  text-align: center;
}
.games-section ul {
  list-style-type: none;
}

@media screen and (max-width: 786px) {
  
  .supersimple-projects-section div, .html-css-section div, .games-section div {
    width: 90vw;
  }
}


.html-css-section ol {
  padding-left: 20px;
}
.table-section h1,
.games-section h2,
.supersimple-projects-section h2,
.html-css-section h2 {
  margin-bottom: 14px;
}


